:root {
  --black: #222222;
  --yellow: #FFD700;
}

.form .button {
  display: inline-block;
  padding: 8px 30px;
  background: var(--black);
  color: var(--yellow);
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 20px;
  width: 100%;
}
.form {
  width: 60%;
  margin: auto;
  line-height: 40px;
}
